body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 10px;
    background: #222222;
    position: absolute;
    bottom: 0;
    left: 0;
}


.vertical-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}